<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/MainStyle.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/MainScript.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
